{{ $taxonomy := "categories" }}

{{ if .Param $taxonomy }}
  <span class="middot-divider"></span>
  <i class="fas fa-folder mr-1"></i>
  {{ range $index, $value := (.GetTerms $taxonomy) }}
  <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
  {{ end }}
{{ end }}

{{ $taxonomy := "tags" }}
{{ if .Param $taxonomy }}
  {{ range $index, $value := (.GetTerms $taxonomy) }}
  <span class="middot-divider"></span>
  <i class="far fa-folder"></i>
  <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
  {{ end }}
{{ end }}